apiKey: "AIzaSyDR8PFtFxueV36nt0LGy0vqcYu1leSonUs",
  authDomain: "si-abon-23f16.firebaseapp.com",
  databaseURL: "https://si-abon-23f16-default-rtdb.asia-southeast1.firebasedatabase.app",
  projectId: "si-abon-23f16",
  storageBucket: "si-abon-23f16.firebasestorage.app",
  messagingSenderId: "42862742734",
  appId: "1:42862742734:web:7488dbf79ae2cdb51f949f",
  measurementId: "G-YNEGEYDCX2"